/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keyball44.dtsi"

&yutingwang_keyball44_layout {
	transform = <&yutingwang_keyball44_transform>;
};

&kscan0 {
	col-gpios
		= <&pro_micro 4 GPIO_ACTIVE_HIGH>
		, <&pro_micro 5 GPIO_ACTIVE_HIGH>
		, <&pro_micro 6 GPIO_ACTIVE_HIGH>
		, <&pro_micro 7 GPIO_ACTIVE_HIGH>
		, <&pro_micro 8 GPIO_ACTIVE_HIGH>
		, <&pro_micro 9 GPIO_ACTIVE_HIGH>
		;
};

/ {
	device_detector {
		compatible = "zmk,device-detector";
		status = "okay";
		io-channels = <&adc 2>; // 使用ADC通道2，可根据实际硬件配置调整
		sampling-hz = <5>;      // 每秒采样5次
		detection-delay-ms = <100>; // 识别延迟（去抖动）
		voltage-ranges = <500 1000 1000 1500 1500 2000 2000 2500 2500 3000>; // 电压范围定义
	};
};

&adc {
	status = "okay";
};
