config BOARD_ENABLE_DCDC
  bool "Enable DCDC mode"
  select SOC_DCDC_NRF52X
  default y
  depends on (SHIELD_KEYBALL44_LEFT || SHIELD_KEYBALL44_RIGHT)

config BOARD_ENABLE_DCDC_HV
  bool "High voltage DCDC converter"
  default y
  depends on (SHIELD_KEYBALL44_LEFT || SHIELD_KEYBALL44_RIGHT)
